.#{$css-prefix}-checkbox {
  cursor: pointer;
  @include no_select;
  &>.#{$css-prefix}-icon {
    font-size: 14px;
    background-color: #fff;
  }
  &:not(.#{$css-prefix}-checkbox-disabled) {
    i {
      color: $primary-color;
    }
  }
  &.#{$css-prefix}-checkbox-disabled {
    cursor: not-allowed;
    &>.#{$css-prefix}-icon {
      color: $border-color;
      background-color: $input-disabled-bg;
    }
  }
}
