html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: none;
}
body{
  line-height: 1.5;
  color: #333;
  font-size: $font-base;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration:none;
  &:hover{
    text-decoration:none;
  }
}
ul,li{
  list-style:none;
}

input,button,textarea{
  border: 0;
  outline: 0;
  -webkit-appearance: none;
}
textarea{
  resize: none;
  display: block;
}